h1 {
  margin: 0;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr ; */
}

.button {
  /* max-height: 50px; */
  /* transform: translateY(50%); */
}

.btnContainer {
  /* display: inline-block; */
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  /* align-content: center; */
  
}

.cardsContainer {
  /* margin-left: 100px;
  margin-right: 100px; */
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 1em
}
