.btn {
  background-color: rgb(238, 131, 0);
  color: snow;
  border: none;
  padding: 1em 1em;
  border-radius: 5px
}

.secondary {
  background-color: rgb(254, 254, 254);
  color: rgb(238, 131, 0);
  border: 1px solid rgb(238, 131, 0);
  padding: 1em 1em;
  border-radius: 5px
}

/* taip neikelinejam butinai reikalinga klase */
/* button {
  font-size: 50px;
} */

.total {
  font-size: large;
}
